$title-font: "Satisfy", cursive;
$main-font: "Roboto", sans-serif;
$light-blue: #bffff4;
$medium-blue: #43a595;
$dark-color: #06202c;
$gold-color: linear-gradient(
  90deg,
  rgba(190, 140, 30, 1) 0%,
  rgba(231, 181, 67, 1) 61%,
  rgba(255, 230, 139, 1) 100%
);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: $main-font;
}

main {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url(../img/background.jpg) no-repeat center center;
  background-size: cover;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  color: $light-blue;

  .logo {
    font-family: $title-font;
    font-size: 3.5rem;
    z-index: 1;
  }

  .hamburger {
    font-size: 1.7rem;
    cursor: pointer;
    z-index: 1;

    .fa-times {
      display: none;
    }
  }

  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    ul {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 100%;
        transform: translateX(100%);
        transition: transform 0.5s;

        a {
          text-transform: uppercase;
          letter-spacing: 0.15rem;
          color: $dark-color;
          transition: transform ease 0.5s;
          padding: 1rem;

          &:hover {
            transform: scale(2);
          }
        }

        &:nth-child(1) {
          background: $light-blue;
          transition-delay: 0.1s;
        }
        &:nth-child(2) {
          background: $medium-blue;
          transition-delay: 0.2s;
        }
        &:nth-child(3) {
          background: $gold-color;
          transition-delay: 0.3s;
        }
        &:nth-child(4) {
          background: $dark-color;
          transition-delay: 0.4s;
          a {
            color: $light-blue;
          }
        }
      }
    }
  }

  &.open {
    .fa-times {
      display: block;
      font-size: 2rem;
    }

    .fa-bars {
      display: none;
    }

    .nav ul li {
      transform: translateX(0);
    }
    .logo,
    .hamburger {
      color: $medium-blue;
    }
  }
}

@media (min-width: 600px) {
  header {
    .hamburger {
      display: none;
    }

    .nav {
      position: static;
      height: 100px;
      ul {
        flex-direction: row;
        justify-content: flex-end;

        li {
          transform: none;
          width: auto;
          padding: 0 1rem;

          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4) {
            background: none;
            position: relative;
            z-index: 5;
          }

          &:nth-child(1)::before,
          &:nth-child(2)::before,
          &:nth-child(3)::before,
          &:nth-child(4)::before,
          &:nth-child(1)::after,
          &:nth-child(2)::after,
          &:nth-child(3)::after,
          &:nth-child(4)::after {
            content: "";
            position: absolute;
            bottom: 10px;
            left: 0;
            width: 100%;
            height: 3px;
            background: $light-blue;
            transform: scaleX(0);
            transition: 0.5s transform ease;
          }

          &:nth-child(1)::after,
          &:nth-child(2)::after,
          &:nth-child(3)::after,
          &:nth-child(4)::after {
            bottom: 0;
            height: 100%;
            background: $dark-color;
            border-bottom: 3px solid $light-blue;
            z-index: -1;
          }

          &:nth-child(1):hover::before,
          &:nth-child(2):hover::before,
          &:nth-child(3):hover::before,
          &:nth-child(4):hover::before,
          &:nth-child(1):hover::after,
          &:nth-child(2):hover::after,
          &:nth-child(3):hover::after,
          &:nth-child(4):hover::after {
            transform: scaleX(1);
          }
          a {
            color: $light-blue;

            &:hover {
              transform: scale(1);
            }
          }
        }
      }
    }
  }
}
