* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.header {
  position: fixed;
  min-width: 40%;
  height: 100%;
  background: #222222;
  z-index: 100;
  color: #fff;
  text-align: center;
  padding: 2rem 0;
  overflow-y: auto;
  transform: translateX(-120%);
  transition: 0.5s all ease;
}

.header .logo {
  font-family: "Satisfy", cursive;
  font-size: 1.7rem;
  border-bottom: 2px solid #333;
  padding: 1rem;
  margin-top: 1rem;
}

.header .nav {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  align-items: center;
  width: 100%;
}

.header .nav ul {
  width: 100%;
}

.header .nav .nav-item {
  border-bottom: 2px solid #333;
  width: 100%;
}

.header .nav .nav-item:hover {
  background: #444;
}

.nav-item .nav-link {
  display: inline-block;
  color: #fff;
  padding: 1rem 0;
  width: 100%;
  height: 100%;
  letter-spacing: 1px;
}

.has-sub {
  position: relative;
}

.has-sub i {
  position: absolute;
  right: 10px;
}

.submenu {
  display: none;
}

.submenu-item {
  border-top: 1px solid #222;
  background: #333;
}

.submenu-link {
  display: inline-block;
  color: #fff;
  padding: 0.6rem 0;
  width: 100%;
  height: 100%;
  text-transform: capitalize;
}

.submenu-link:hover {
  background: #98f3fa80;
  color: #222;
}

.show {
  background: #444;
  border-left: 3px solid aqua;
}

i {
  transform: rotate(0deg);
  transition: all 0.3s ease;
}

.show i {
  transform: rotate(180deg);
}

.social {
  padding: 2rem;
}

.social ul {
  width: 100%;
}

.social li {
  padding: 1rem 0;
}

.social i {
  font-size: 2rem;
}

.fa-facebook-square {
  color: #38529a;
}

.fa-twitter {
  color: #1c9cea;
}

.fa-youtube {
  color: #f70000;
}

.hamburger {
  z-index: 1000;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 30px;
  height: 21px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.line {
  position: absolute;
  background: black;
  height: 3px;
  width: 100%;
  transition: all 0.5s ease;
}

.line:nth-child(1) {
  top: 0;
}
.line:nth-child(2) {
  top: 9px;
}
.line:nth-child(3) {
  bottom: 0;
}

.hamburger.active {
  transform: rotate(270deg);
}
.active .line {
  top: 9px;
  background: #fff;
}

.active .line:nth-child(1) {
  transform: rotate(45deg);
}
.active .line:nth-child(2) {
  opacity: 0;
}
.active .line:nth-child(3) {
  transform: rotate(-45deg);
}

.header.active {
  transform: translateX(0);
}

@media (min-width: 800px) {
  .header {
    width: 100%;
    height: 80px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    overflow-y: visible;
    transform: none;
  }

  .header .logo {
    border-bottom: none;
    padding: 0;
    margin-left: 2rem;
    font-size: 2rem;
  }

  .header .nav {
    justify-content: center;
    width: auto;
    height: 100%;
  }

  .header .nav > ul {
    display: flex;
    height: 100%;
  }

  .header .nav .nav-item {
    border-bottom: none;
    width: auto;
    height: 100%;
  }

  .nav-item .nav-link {
    padding: 1rem 1.5rem;
    height: 100%;
    display: flex;
    place-items: center;
  }

  .has-sub i {
    position: static;
    margin-left: 5px;
  }

  .submenu {
    position: absolute;

    top: 100%;
    left: 0;
  }

  .submenu-link {
    text-align: center;
    padding: 0.5rem 0.2rem;
  }

  .social {
    display: none;
  }

  .hamburger {
    display: none;
  }
}
