%flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

header {
  @extend %flexbox;
  justify-content: space-between;
  padding: 1rem;

  .title {
    font-size: 2rem;
    font-family: "Satisfy", cursive;
  }

  .menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    ul {
      @extend %flexbox;
      font-family: "Roboto", sans-serif;
      letter-spacing: 0.1rem;
      position: absolute;
      width: 60%;
      height: 100vh;
      background: #000000de;
      right: -100%;
      top: 0;
      flex-direction: column;
      transition: all 1s ease;

      li {
        margin: 1rem 0;

        a {
          padding: 0.5rem 0;
          color: #fff;
          text-transform: uppercase;
          position: relative;

          &::before,
          &::after {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            height: 3px;
            width: 100%;
            background: #fff;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.6s ease;
          }

          &::after {
            top: auto;
            left: auto;
            right: 0;
            bottom: 0;
            transform-origin: right;
          }

          &:hover::after,
          &:hover::before {
            transform: scaleX(1);
          }
        }
      }
    }
  }

  .hamburger {
    font-size: 1.8rem;
    z-index: 1;
    cursor: pointer;
  }

  .fa-times {
    display: none;
  }

  &.open .fa-times {
    display: block;
    color: #fff;
  }

  &.open .fa-bars {
    display: none;
  }

  &.open .menu ul {
    right: 0;
  }
}
