* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.header {
  position: fixed;
  width: 40vw;
  height: 100%;
  background: #222222;
  z-index: 100;
  color: #fff;
  text-align: center;
}

.header .logo {
  font-family: "Satisfy", cursive;
  font-size: 1.7rem;
  border-bottom: 2px solid #333;
  padding: 1rem 0;
}

.header .nav {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  align-items: center;
  width: 100%;
  height: 100%;
}

.header .nav ul {
  width: 100%;
}

.header .nav .nav-item {
  border-bottom: 2px solid #333;
  width: 100%;
}

.nav-item .nav-link {
  display: inline-block;
  color: #fff;
  padding: 1rem 0;
  width: 100%;
  height: 100%;
}

.has-sub {
  position: relative;
}

.has-sub i {
  position: absolute;
  right: 10px;
}

.submenu {
  display: none;
}

.submenu-item {
  border-top: 1px solid #222;
  background: #333;
}

.submenu-link {
  display: inline-block;
  color: #fff;
  padding: 0.6rem 0;
  width: 100%;
  height: 100%;
  text-transform: capitalize;
}

.show {
  background: #444;
  border-left: 3px solid aqua;
}

i {
  transform: rotate(0deg);
  transition: all 0.3s ease;
}

.show i {
  transform: rotate(180deg);
}

.onhover {
  background: #86eeee4b;
}
